<?xml version="1.0" encoding="utf-8" ?>
<!-- Ligne de runtime commentée -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Développement Sur ridror -->
    <add key="CheminBD" value="D:\Developpements\Gestion_Mtps_v2\Gestion_Mtps_v2\bin\Base\G_Mtps.accdb" />
    <add key="CheminLog" value="D:\Developpements\Gestion_Mtps_v2\Gestion_Mtps_v2\bin\Debug\application.log" />
    
    <!-- Développement Sur Asus -->
    <!--add key="CheminBD" value="D:\Develop\Gestion_Mtps_v2\Gestion_Mtps_v2\bin\Base\G_Mtps.accdb" /-->

    <!-- Tests Sur Asus -->
    <!-- >add key="CheminBD" value="D:\Develop\Tests\Gestion_Mtps_v2\ase\G_Mtps.accdb" /-->
      
  </appSettings>


  <connectionStrings>
    <add name="MaBaseLocale"
       connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Base\G_Mtps.accdb;"
       providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>
